
  .Booking-div{
    border: 1px solid;
    display: flex;
    gap: 20px;
  }

  .first-div{
    border: 2px solid red;
    width: 50%;
  }
  


  .form-container{
    width: 25%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5%;
    margin: auto;
    
  }
.label, text{
    margin-top: 2%;
}
.button{
    margin-top: 2%;
}
/*.................................. second div.................................. */
/* .theater-seating-container {
    border: 10px solid blue;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  } */
  .theater-seating{
    border: 2px solid blue;
    width: 50%;
    align-items: center;
  }
 
 

  
  .seats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
  }
  
  .row {
    display: flex;
    /* margin-bottom: 10px; */
    margin: 10px auto;
  }
 
  
  .seat {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .seat.selected {
    background-color: red;
  }
 
  
  p {
    margin-top: 20px;
  }
  